<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <a href="/shoes/new"/>Add Shoe</a>
    <a href="/shoes"/>Collection</a> -->
    <nav>
      <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
          <div class="logo">
            <!-- <h1>Navbar</h1> -->
          </div>
          <div class="menu-items">
            <li><a href="/shoes/new"/>Add Shoe</a></li>
            <li><a href="/shoes"/>Collection</a></li>
            <li><a href="/shoes/adidas"/>Adidas</a></li>
            <li><a href="/shoes/jordan"/>Jordan</a></li>
            <li><a href="/shoes/nike"/>Nike</a></li>
            <li><a href="/shoes/other"/>Other</a></li>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
