<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="/"/>Home</a>
    <a href="/shoes"/>Collection</a>
    <h2>Enter a New Shoe</h2>
    <form action="/shoes" method="POST">
      <label>Make: <input type="text" name="make" /> </label><br />
      <label>Model: <input type="text" name="model" /> </label><br />
      <label>Colourway: <input type="text" name="colour" /> </label><br />
      <label>Release Year: <input type="text" name="year" /> </label
      ><br />
      <label>Price Paid: <input type="text" name="price" /> </label><br />
      <br />
      <input type="submit" value="Add Shoe" />
    </form>
  </body>
</html>
